<div class="container">
  <div class="jumbotron">
    <h1>Step 2!</h1>
    <h2>Select a Page to Manage</h2>
    <p>Below is a listing of all the pages you have access to.  Go ahead and select one to manage it.  If you don't see the page you're looking for, be sure you have rights to Administer or Create Content for that page.</p>
    <div ng-if="theProfileCtrl.pageListing">
    <p>
      <select
        ng-model="theProfileCtrl.pageChoice"
        required="true"
       >
        <option value="">-- Choose Page --</option>
        <option ng-repeat="option in theProfileCtrl.pageListing" value="{{option.id}}">{{option.name}} ({{option.category}} Page) </option>
      </select>
    </p>
    <p><a class="btn btn-primary btn-lg" ng-click="theProfileCtrl.choose()" role="button">Choose Page</a></p>
    </div>

    <div ng-if="!theProfileCtrl.pageListing">
      <div style="padding-left:20rem;padding-right:20rem">
      <div class="spinner-loader">
        Loading…
      </div>
      </div>
    </div>

    <div ng-if="theProfileCtrl.pageListing.length==0">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">No Manageable Pages Found!</h3>
        </div>
        <div class="panel-body">
          Sorry, no pages available to be managed.  Are you sure you have the proper permissions set?
        </div>
      </div>
    </div>

  </div>
</div>
